<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Customizer</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <section><% for(let i=0; i<600; i++) { %> <span></span> <% } %></section>

    <div class="dashboard-container">
      <h1 class="dash-title">URL Customizer</h1>

      <div class="signin about-card">
        <div class="content">
          <h2>System Overview</h2>
          <p class="description-text">
            This website is a secure and personalized URL Customizing service
            designed to help users manage, track, and share their links
            effectively. The core functionality begins with secure
            authentication, allowing users to register and log in either with a
            traditional email and password or instantly via their Google
            account.
            <br /><br />
            Upon registration, each user is assigned a unique username that
            personalizes their short links. All generated links are centrally
            managed on a private dashboard, where the platform tracks essential
            performance metrics, including total click counts and last-clicked
            timestamps.
          </p>

          <div class="user-login-div">
            <form action="/register">
              <input type="submit" value="Register" />
            </form>
            <form action="/login">
              <input type="submit" value="Login" />
            </form>
          </div>

          <div class="google-auth-wrapper">
            <form action="/auth/google" method="get">
              <input
                type="submit"
                value="Sign-in with Google"
                class="google-btn"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
